.card{
 margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

body{
  background-color: #FFC2D2;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #FFADC2;
}

.navbar-right{
  float: right;
}

.elementary{
  font-size: 20px;
  font-style: bold;
  background-color: #FC88A5;
  padding: 25px;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 150px;
  margin-bottom: 25px;
  color: white;
  border-color: white;
  border-radius: 1000px;
  align-items: center;
}

.middle{
  font-size: 20px;
  font-style: bold;
  background-color: #FC88A5;
  padding: 25px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
  margin-bottom: 25px;
  color: white;
  border-color: white;
  border-radius: 1000px;
  align-items: center;
}

.higher{
  font-size: 20px;
  font-style: bold;
  background-color: #FC88A5;
  padding: 25px;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 150px;
  margin-bottom: 25px;
  color: white;
  border-color: white;
  border-radius: 1000px;
  align-items: center;
}

.imposterSynd{
  font-size: 20px;
  font-style: bold;
  background-color: #FC88A5;
  padding: 25px;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 150px;
  margin-bottom: 25px;
  color: white;
  border-color: white;
  border-radius: 1000px;
  align-items: center;
}


.one{
  padding-top: 50px;
  text-align: center;
  font-size: 80px;
  color: white;

}

.two{
  text-align: center;
  color: white;
}

.links{
  padding-top: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: right;
  justify-content: right;
}
  
.img{
  height: auto;
	margin-left: 10px;
	display: inline-block;
	width: 400px;
  position: fixed;
  left: 20px;
}
.links{
  display: flex;
	margin: 20px;
  align-items: flex-end;
  left: 430px;

}


.fig{
  display: flex;
  align-items: stretch;
  padding-left: 50px;
  padding-right: 100px;
}

.card-img-top{
  height: 400px;
  width:440px;
}

.card-body{
  background-color: #FF7084;
}

.link{
  color: white
}
